@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"],
#contact button[type="button"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="number"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"],
#contact button[type="button"] {
  cursor: pointer;
  width: 150px;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover ,
#contact button[type="button"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active,
#contact button[type="button"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

textarea:disabled, button:disabled {
    background-color: grey !important;
}

.loading{
	text-align: center;
}
.loading > div{
	font-size: 22px;
}

.odd{
	background-color: #d1f8cb;
}
.even{
	background-color: #9fdfb5;
}

.resultado {
    padding: 20px;
    color: black;
}
.resultado > div {
    float: left;
    width: 33%;
}
.resultado > table {
    width: 100%;
    padding: 10px;
    border-spacing: 0px;
}
.resultado > table > thead {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-weight: bold;
}
.resultado > table > tbody > tr > td {
    border: 1px solid #4CAF50;
    border-right: 0px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}
.resultado > table > tbody > tr > td:last-child{
	border-right: 1px solid #4CAF50;
}

.upload, .div-botao{
	padding: 20px;
	margin: 20px;
	text-align: center;
}

#status{
    border: 0px solid green;
    font-size: 20px;
    color: green;
    padding: 40px;
}

.download-button{
	background-color: cadetblue !important;
	float:right; 
}

.senha-button{
	background-color: #8eb0ca !important;
	float:left; 
}

.btn-back {
    background: grey !important;
}

.div-back {
    text-align: left;
}