<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Azimuth</title>

<script type="text/javascript" src="../js/module/file-saver/angular-file-saver.module.js"></script>
<script type="text/javascript" src="../js/angular/angular.min.js"></script>
<script type="text/javascript" src="../js/angular/AzimuthApp.js"></script>
<script type="text/javascript" src="../js/controller/LoginController.js"></script>
<script type="text/javascript" src="../js/controller/HomeController.js"></script>
<script type="text/javascript" src="../js/service/SessionService.js"></script>
<script type="text/javascript" src="../js/service/AzimuthService.js"></script>
<script type="text/javascript" src="../js/directive/UploadDirective.js"></script>



<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
	var config = {
    apiKey: "AIzaSyAcC0uZslwP0nt_cLbjILwEYI_lv9iBPIw",
    authDomain: "azimuth-9000b.firebaseapp.com",
    databaseURL: "https://azimuth-9000b.firebaseio.com",
    projectId: "azimuth-9000b",
    storageBucket: "azimuth-9000b.appspot.com",
    messagingSenderId: "435480991639"
  };
  firebase.initializeApp(config);
  
//Get a reference to our posts
  var database = firebase.database();
  var ref = database.ref('webVendas/mensagem');

  // Get the data on a post that has been removed
  ref.on('value', function(snapshot) {

    console.log(snapshot.val());

 	var a = document.getElementById("contagem");
 	if(a) {
 	    a.innerText = snapshot.val();
 	}
 	
 	var b = document.getElementById("status");
 	if(b){
 	    b.innerText = snapshot.val();
    }

  }, function(error){
	  alert(error);
  });
</script>


<link rel="stylesheet" href="../css/style.css">

</head>
<body ng-app="AzimuthApp">

	<div class="container">

		<div id="contact" ng-controller="HomeController as ctrl">
			<div ng-show="ctrl.isLoading" class="loading">
				<img src="./img/loading.gif" alt="Carregando...">
				<div id="contagem">{{ctrl.mensagemCarregando}}</div>
			</div>
			<div ng-show="!ctrl.isLoading">
				<div ng-if="!ctrl.isAlterarSenha">
					<h3>Busca de dados</h3>
					<div id="status"></div>
					<fieldset class="align-center">
					<div class="upload">
						<input type="file" file-model="ctrl.myFile" id="arquivo" name="arquivo" multiple/>
					</div>
					<div class="div-botao">
					
						<button name="senha" type="submit" class="senha-button"  ng-click="ctrl.alterarSenha()" ng-if="!ctrl.isAlterarSenha">Nova senha</button>
						
						<button name="submit" type="submit" 
							ng-click="ctrl.carregar(ctrl.myFile)">Buscar</button>
							
						<button name="download" type="submit" class="download-button"  ng-click="ctrl.download()">Download</button>
					</div>
					</fieldset>
				</div>
				
				<div ng-if="ctrl.isAlterarSenha">
					<h3>Atualizar login e senha</h3>
					<div>
						<label>Login: </label><input type="text" ng-model="ctrl.acesso.login">
					</div>

					<div>
						<label>Senha: </label><input type="text" ng-model="ctrl.acesso.senha">
					</div>
					
					<button name="salvar" type="button" class="btn-success"  ng-click="ctrl.salvarSenha()">Salvar novos dados de acesso</button>


					<br><br>
					<hr>
					<br><br>

					<div>
						<label>Quantidade de robos: </label><input type="number" ng-model="ctrl.acesso.robos">
					</div>

                    <div ng-if="mensagemRobo">
                        {{mensagemRobo}}
                    </div>

					<button name="salvar" type="button" class="btn-success"  ng-click="ctrl.salvarQuantidadeRobos()">Salvar quantidade robos</button>

					<br>
					<hr>
					<br>

					<div class="div-back">
                    	<button name="voltar" type="button" class="btn-back"  ng-click="ctrl.voltar()">Voltar sem salvar nada</button>
					</div>
				</div>
				
			</div>


			
		</div>
		
	</div>


</body>
</html>