<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Azimuth</title>
	<script type="text/javascript" src="../js/angular/angular.min.js"></script>
	<script type="text/javascript" src="../js/angular/AzimuthApp.js"></script>
	<script type="text/javascript" src="../js/controller/LoginController.js"></script>
	<script type="text/javascript" src="../js/controller/HomeController.js"></script>
	<script type="text/javascript" src="../js/service/SessionService.js"></script>
</head>
<body>
	<div  ng-app="AzimuthApp">
	
		<div ng-controller="LoginController as ctrl">
			Login: 
			<input type="text" ng-model="ctrl.dados.login" ng-required>
			Senha: 
			<input type="text" ng-model="ctrl.dados.senha" ng-required>
			<button ng-click="ctrl.login( ctrl.dados )">Acessar</button>
			
			<div ng-model="mensagem"></div>
		</div>
	
	</div>
</body>
</html>